<%= link_to "Back to Post", post_url(@comment.post_id) %>

<h3><%= @comment.content %></h3>

<form action="<%= post_comments_url %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="comment[post_id]" value="<%= params[:post_id] %>">
  <input type="hidden" name="comment[comment_id]""" value="<%= params[:id] %>">
  <textarea name="comment[content]" rows="8" cols="80"></textarea>
  <input type="submit" name="" value="Comment">
</form>

<% if @all_comments %>
  <h3>Sub-Comments</h3>

  <ul>
    <% if @comment %>
      <%= render "shared/comments", c: @comment %>
    <% end %>
  </ul>
<% end %>
