<h1>NEW POST!</h1>

<form action="<%= posts_url %>" method="post">
  <%= auth_token %>

  <label for="title">Title</label>
  <input id="title" type="text" name="post[title]" value="<%= @post.title %>">

  <br>

  <label for="url">URL</label>
  <input id="url" type="text" name="post[url]" value="<%= @post.url %>">

  <br>

  <label for="content">Content</label>
  <textarea id="content" name="post[content]" rows="8" cols="80"><%= @post.content %></textarea>

  <br>

  <b>Select Subs to Post to:</b>

  <br>

  <% Sub.all.each do |sub| %>
    <label>
        <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>" <%= "checked" if @post.postsubs.include?(sub) %>>
        <%= sub.title %>
    </label>
    <br>
  <% end %>

  <input type="submit" name="" value="Create Post">
</form>
