<%= link_to "Back to Index", subs_url %>

<br>

<h1>(<%= @post.likes.count %>)  <%= link_to "#{@post.title}", "https://#{@post.url}" %></h1>

<form action="<%= likes_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="like[likeable_type]" value="<%= "post" %>">
  <input type="hidden" name="like[likeable_id]" value="<%= @post.id %>">
  <input type="submit" name="" value="Like">
</form>

<form action="<%= like_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="like[likeable_type]" value="Post">
  <input type="hidden" name="like[likeable_id]" value="<%= @post.id %>">
  <input type="submit" name="" value="Unlike">
</form

<% subs = @post.subs %>
<% comments = @post.comments.where(comment_id: nil).includes(:user) %>

<content>
  <%= @post.content %>
</content>

<h1>Comments</h1>
<%= link_to "Add Comment", new_post_comment_url(@post), post_id: params[:id] %>

<ul>
  <% if comments %>
    <% comments.each do |comment| %>
      <li><%= link_to "#{comment.content}", post_comment_url(post_id: comment.post_id, id: comment.id) %>
        <br>
        -- <%= comment.user.username %>
        <%= comment.created_at %>
      </li>
      <%= render "shared/comments", c: comment %>
    <% end %>
  <% end %>
</ul>

<br>

<h1>Subs</h1>

<ul>
  <% if subs %>
    <% subs.each do |sub| %>
      <li><%= link_to "#{sub.title}", sub_url(sub) %></li>
    <% end %>
  <% end %>
</ul>
